<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our academy</title>
</head>
<body>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic ratione doloribus libero necessitatibus sed. Suscipit ab deserunt, optio tempore natus consequatur labore, odio saepe ratione cum porro. Eligendi nam commodi rem, tempora eos numquam nobis aliquid nesciunt laboriosam, modi corrupti quasi molestiae reprehenderit obcaecati culpa labore. Molestias ipsa magnam veniam, est, pariatur natus dolores voluptatem eos voluptas vel, ducimus dolor.
    </p>
</body>
</html>
<style>
p {
    color: blue;
    font-size: 20px;
    font-weight: 700;
    text-decoration: wavy;
}
</style>