<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manchester United Squad list</title>
    <link rel="stylesheet" href="../src/styles/styles.css"/>
</head>
<body>
    <nav>
        <div>
            <h1>Manchester United</h1>
        </div>
        <div class="listed">
            <ul class="links">
                <li><a href="../public/index.html">Home</a></li>
                <li id="dropdown"><a href="#"> Full Squad</a>
                <div class="dropdown">
                    <ul class="squad">
                        <li class="eleven">
                            1st Squad
                        </li>
                        <li class="eleven">
                            2nd Squad
                        </li>
                    </ul>
                </div>
                </li>
                <li><a href="../views/academy.html">Enroll in Academy</a></li>
            </ul>
        </div>
    </nav>

    <section id="working">
        <div class="content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque eaque hic, aut, quidem culpa ducimus voluptates facilis, enim consequatur ipsa iusto sed sit velit blanditiis nostrum repellat amet distinctio? Totam officiis voluptate fugit animi, ducimus placeat numquam sapiente suscipit facere. Excepturi incidunt, harum quibusdam enim cumque sequi minima adipisci possimus modi, corrupti saepe dicta quae assumenda id consequatur reiciendis officia?
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nisi libero ratione veritatis nam accusantium iure soluta quam ipsum suscipit, placeat sequi alias vero optio id neque iste iusto exercitationem nulla itaque. Dolorem ex iste velit odit neque, delectus perferendis dolore nesciunt animi numquam sint ipsam et, esse hic in sapiente. Tempora, totam, aliquid repellat asperiores ad quam facilis ipsa sequi dolor tenetur culpa, obcaecati ipsam tempore saepe non? Totam?
        </div>
        <div class="content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eius modi repellat voluptates. Consectetur dolor praesentium porro maiores maxime voluptatum ad pariatur neque iste alias non deserunt aliquid nulla, tempore nobis. Cum beatae excepturi nobis ut, nesciunt deleniti temporibus tempore blanditiis iste culpa ipsa, quod corrupti nam, quae porro molestias doloremque obcaecati? Corrupti aliquam adipisci dicta libero quisquam delectus inventore amet non facilis, iusto, porro aut nisi voluptates explicabo hic eos deserunt laboriosam tenetur labore quidem doloremque excepturi quae. Iure cum aspernatur quae nobis cupiditate nam ab laboriosam pariatur, ratione aperiam soluta necessitatibus voluptates quis, nulla alias provident modi. Delectus.
        </div>
    </section>

    
<center>
<div>
    <h2>
        Pay your fee here !!!
    </h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quos tempora hic doloremque quia delectus corrupti! Id dignissimos labore eius et fugiat ea laborum maxime totam, natus necessitatibus facere cum a, commodi aut consectetur, impedit fugit. Velit repellat laboriosam aperiam!
</div>
</center>





</body>
</html>