nav {
    display: flex;
    background-color: red;
    color: white;
}
.links {
    display: flex;
    list-style-type: none;
}
li {
    padding: 10px;
}
.listed {
    margin-left: 50%;
}
@media only screen and (max-width: 600px) {
    .listed {
        margin-left: 0%;
    }
    nav {
        display: grid;
    }
    li {
        padding-left: 0px;
        padding-right: 20px;
    }
    h1 {
        margin: 0% 25% 0% 25%;
    }
}
h1 {
    padding-left: 10px;
    letter-spacing: 2px;
}
a {
    color: white;
    text-decoration: none;
}
h1:hover {
    cursor: pointer;
}
.dropdown {
    width: 120px;
    height: 70px;
    background-color: yellow;
    color: green;
    position: absolute;
    border-radius: 5px;
    display:none;
}
#dropdown:hover .dropdown {
    display:block;
}
.squad {
    list-style-type: none;
    transform: translateX(-30px);
    font-size: 18px;
}
.eleven {
    font-size: 14px;
}
#working {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.content {
    border: 1px solid red;
    margin-top: 10px;
}
.curve {
    position: relative;
    margin-top: 1px;
}
.buttons {
    position: absolute;
    transform: translateY(-130px);
    /* transform: translateX(200px); */
    margin-left: 200px;
}
button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 15px;
}
@media only screen and (max-width: 768px) {
    .curve {
        position: relative;
    }
    .buttons {
        position: absolute;
        transform: translateY(-30px);
        /* transform: translateX(200px); */
        display: flex;
        margin-left: 10px;
    }
    button {
        width: 140px;
        height: 25px;
        font-size: 15px;
        margin: 15px;
    }
    nav {
        width: 100%;
    }
} 
.but {
    color: red;
}