<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../src/styles/style.css"/>
</head>
<body>
    Welcome to the about Page
    <a href="../public/index.html">Home Page</a>
<hr>
<table>
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>CLUB</th>
        <th>POSITION</th>
    </tr>
    <tr>
        <td><img src="../src/assets/images (1).jpeg"/></td>
        <td><img src="../src/assets/images (3).jpeg"></td>
        <td><img src="../src/assets/firstpic.jpeg"></td>
        <td><img src="../src/assets/psgneymar.jpeg"></td>
    </tr>
    <tr>
        <td>Ronaldo</td>
        <td>37yrs</td>
        <td>MAN U</td>
        <td>FW</td>
    </tr>
    <tr>
        <td>Neymar</td>
        <td>33yrs</td>
        <td>PSG</td>
        <td>FW</td>
    </tr>
    <tr>
        <td>Benzema</td>
        <td>33yrs</td>
        <td>Real Madrid</td>
        <td>FW</td>
    </tr>
</table>
</body>
</html>